netCDF4>=1.5.3
xarray>=0.15.1
numpy>=1.18.1
pyproj>=2.6.0
pytest>=4.6
PyYAML>=5.4
setuptools
m2r
sphinxcontrib-bibtex
nbsphinx==0.8.6
ipykernel
sentinelsat>=1.1.0
matplotlib
jupyter
mistune<2
sphinx==4.1.2
sphinx_rtd_theme==0.5.2
docutils==0.16
jinja2==2.11.3
